body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background-image:url('../image/bgimage.jpg');
	
}

nav{
	background: #191919;
	color: #f0ffff;
	padding: 30px 60px;
	display: flex;
	justify-content: space-between;
}

.navnext{
	background: #191919;
	color: #f0ffff;
	display: flex;
	justify-content: space-between;
}

.head{
	color: #f0ffff;
	font-size: 40px;
	text-decoration: underline #f0ffff;
}
nav ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.ref{
	color: aliceblue;
	text-decoration: none;
	font-weight: bold;
}

nav li{
	list-style: none;
}

nav li a {
	color: aliceblue;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 8px;
}

nav li a:hover{
	color: aquamarine;
}

.jumbotron{
	background: #191919;
	color: aliceblue;
	position: absolute;
	top: 40%;
	right: 20%;
	left: 20%;
}

.box{
	width: 400px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
}

.box input[type = 'name'], .box input[type = 'password'], .box input[type = 'email']{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #70F8FF;
	padding: 10px;
	width: 200px;
	outline: none;
	color: #f0ffff;
	border-radius: 24px;
	transition: 0.24s;
}

.box h1{
	color: #f0ffff;
	text-transform: uppercase;
}

.box input[type = 'name']:focus,.box input[type = 'password']:focus,.box input[type = 'email']:focus{
	width: 280px;
	border-color: #7FFFD4;
}

.box input[type = 'submit']{
	border:0;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 3px solid #7FFFD4;
	padding: 10px;
	width: 150px;
	outline: none;
	color: #f0ffff;
	border-radius: 24px;
	transition: 0.24s;
}

.box input[type = 'submit']:focus{
	border-color: #70F8FF;
}

.box input[type = 'submit']:hover{
	background-color: #6495ED;
	border-color: #6495ED;
	color: #f0ffff;
	width: 229px;
}

.btn{
	border:0;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 3px solid #7FFFD4;
	padding: 10px;
	width: 150px;
	outline: none;
	color: #f0ffff;
	border-radius: 24px;
	transition: 0.24s;
}